<footer class="footer">
    <div class="footer-widgets">        
        <div class="container">
            <div class="row"> 
                <div class="col-md-3">
                    <div class="widget widget_text">
                        <h3 class="widget-title">About Us</h3>          
                        <div class="textwidget">
                            <p>Los Viajeros specializes in Latin fusion tacos & burritos made with fresh all natural ingredients. </p>
                            <ul class="footer-info">
                                <li class="email">Email us: los.viajeros15@gmail.com
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-md-3">
                    <div class="widget widget-link clearfix">
                        <h3 class="widget-title">Check Us on Social Media</h3>

                        <ul class="social-links">
                          <a href="#"><i class="fa fa-facebook-square"></i>Facebok</a>
                            <a href="#"><i class="fa fa-twitter-square"></i>Twitter</a>
                            <a href="#"><i class="fa fa-google-plus-square"></i>Google+</a>
                        </ul>


                        <div class="social-links">
                            <a href="#"><i class="fa fa-linkedin-square"></i>Linkedin</a>
                            <a href="#"><i class="fa fa-instagram"></i>Instagram</a>
                            <a href="#"><i class="fa fa-pinterest-square"></i>Pinterest</a>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-md-6">
                    <div class="widget widget_instagram">
                        <h3 class="widget-title">Peep the IG</h3>            

                        <ul class="clearfix">                                
                            <li>
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/1.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/2.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>
                            <li class="last">
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/3.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>
                            <li class="last">
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/4.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>

                            <li class="last">
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/5.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>

                            <li class="last">
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/6.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <ul class="clearfix">                                
                            <li>
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/1.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/2.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>
                            <li class="last">
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/3.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>
                            <li class="last">
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/4.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>

                            <li class="last">
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/5.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>

                            <li class="last">
                                <div class="thumb images-hover flat-hover-images">
                                    <a href="#">
                                        <span><img src="images/instagram/6.jpg" alt="image"></span>
                                    </a>
                                </div>
                            </li>
                        </ul>

                    </div><!-- /.widget_instagram -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->    
        </div><!-- /.container -->
    </div><!-- /.footer-widgets -->

    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <div class="copyright-content">
                         Copyright © 2017. Designed with love by <a href="http://twitter.com/mopineyro">MOP</a>.
                     </div>
                     <!-- Go Top -->
                     <a class="go-top-v1"> <i class="fa fa-arrow-up"></i>  &nbsp;Back to Top</a>
                 </div><!-- /.col-md-12 -->
             </div><!-- /.row -->
         </div><!-- /.container -->
     </div><!-- /.footer-content -->
 </footer>