<footer class="footer">
    <div class="footer-widgets">        
        <div class="container" id="schedule">
            <div class="row"> 
                <div class="col-md-3">
                    <div class="widget widget_text">
                        <h3 class="widget-title">About Us</h3>          
                        <div class="textwidget">
                            <p>Los Viajeros specializes in Latin fusion tacos & burritos made with fresh all natural ingredients. </p>
                            <ul class="footer-info">
                                <li class="email"><a href="mailto:los.viajeros15@gmail.com?Subject=Hello" target="_top">los.viajeros15@gmail.com</a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-md-1">
                </div><!-- /.col-md-3 -->

                <div class="col-md-8">
                    <div class="widget widget_instagram">
                        <%# <h3 class="widget-title">Our Schedule</h3> %>
                    </div><!-- /.widget_instagram -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->    
        </div><!-- /.container -->
    </div><!-- /.footer-widgets -->

    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <div class="copyright-content">
                         Copyright © 2017. Designed with love by <a href="http://twitter.com/mopineyro">MOP</a>.
                     </div>
                     <!-- Go Top -->
                     <a class="go-top-v1"> <i class="fa fa-arrow-up"></i>  &nbsp;Back to Top</a>
                 </div><!-- /.col-md-12 -->
             </div><!-- /.row -->
         </div><!-- /.container -->
     </div><!-- /.footer-content -->
 </footer>
