<!-- Flat client  -->
<section class="flat-row flat-clients s1">
    <div class="container">
        <div class="title-section">
            <h1 class="title">Features & Awards</h1>
        </div>
        <div class="flat-client" data-item="4" data-nav="false" data-dots="false" data-auto="true" data-margin="30">
            <div class="item">
                <a href="#"> 
                    <%= image_tag 'clients/2.png', :alt => 'images' %>
                </a> 
            </div>

            <div class="item">
                <a href="#"> 
                <%= image_tag 'clients/2.png', :alt => 'images' %>
                </a> 
            </div>

            <div class="item">
                <a href="#"> 
                <%= image_tag 'clients/3.png', :alt => 'images' %>
                </a> 
            </div> 

            <div class="item">
                <a href="#"> 
                <%= image_tag 'clients/4.png', :alt => 'images' %>
                </a> 
            </div>


        </div><!-- /.flat-client -->       
    </div>      
</section> 
