<section class="flat-row flat-our">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%= image_tag 'imagebox/1.png', :class => "img-responsive center-block", :alt => 'images' %>
            </div><!--col-md-6--> 
            <div class="col-md-6">
                <div class="flat-divider d10px hidden-lg"></div>
                <div class="wrap-content-story">
                    <div class="title-section">
                        <h1 class="title">Our Story</h1>
                    </div>
                    <p class="content-story">
                        <b>Caitlyn and Carlos</b> are a young foodie couple who decided to break into the food truck industry in 2015! Carlos is firefighter by trade and Caitlyn a former waitress, both self taught chefs who wanted to share their passion with the world. They've taken influences from their many travel experiences and incorporated them into the truck. From the name, <b>Los Viajeros (meaning "The Travelers" in spanish)</b>, the colorful hand painted mural on the truck, to the food!  The Los Viajeros menu was developed by their love for Latin <b>flavors are inspired by Dominican, Cuban, and Mexican cultures</b>.
                    </p>
                    <ul class="iconlist">
                        <li><i class="fa fa-circle-o"></i>Los Viajeros specializes in a unique combination of flavors in their <b>tacos, burritos & quesadillas</b>.</li>
                        <li><i class="fa fa-circle-o"></i><b>The El Jefe burrito</b>, one of the best sellers, is served with brown rice, Ropa Vieja (Cuban style steak) sweet plantains, Jack cheese, jalapenos & chipotle aioli, all rolled up into one heavenly wrap of deliciousness!</li>
                        <li><i class="fa fa-circle-o"></i> Los Viajeros Food Truck can be found in <b>Manhattan in the Flatiron District or Bryant Park</b> as well as in the <b>Bronx at Jacobi Medical Center</b>.</li>
                        <li><i class="fa fa-circle-o"></i> During the summer season they are also in <b>uptown Manhattan on Dyckman at La Marina</b>.  </li>
                    </ul>
                </div>
            </div><!--/.col-md-6-->  
        </div><!--/.row-->
    </div><!--/.container -->
</section>